* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Libre Franklin", sans-serif;
    color: #3a3a3a;
}

:root {
    --white-: #fff;
    --black-: #3a3a3a;
    --hover-green: #e9bc5b;
    --background-blue: #1765bd;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-ExtraLight.ttf) format('truetype');
    font-weight: 200;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url(../fonts/LibreFranklin-Thin.ttf) format('truetype');
    font-weight: 100;
}



/* start header */
.top_head {
    background-color: #000;
    padding: 10px;
}

.top_nav a {
    text-decoration: none;
    color: var(--white-);
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    white-space: nowrap;

}

.vl {
    border-left: 3px solid #d74085;
    height: 30px;
}

.top_nav a:hover {
    color: var(--hover-green);
}

.nav_bar:hover {
    color: var(--hover-green) !important;
}

.nav_barlist {
    color: var(--black-) !important;
    font-size: 17px;
    transition-duration: 0.3s;
    font-weight: 600;
}

.nav_btn a {
    background-color: var(--hover-green);
    color: var(--white-);
    font-weight: 600;
    padding: 13px;
    transition-duration: 0.3s;
}

.nav_btn a:hover {
    background-color: var(--black-);
    color: var(--white-);
    font-weight: 600;
    padding: 13px;
}

/* finish header */
/* videooverlay start */
.video_overlayheading {
    background-color: var(--background-blue);
    text-align: center;
    padding: 10px;
    color: var(--hover-green);
}



/* Style for overlay content */
.overlay_content {
    position: absolute;
    top: 50%;
    right: 18%;
    /* Adjust this value for horizontal positioning */
    transform: translateY(-50%);
    color: var(--white);
    text-align: center;
}

.overlay_content h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--background-blue);

}

/* Style for video overlay heading */
.locator {
    background-color: var(--white-);
    padding: 20px;
    border-radius: 2px;

}

.locator h4 {
    font-size: 18px;
    font-weight: 800;
    color: var(--background-blue);
}

.locator button {
    background-color: var(--hover-green);
    padding: 10px;
    font-weight: 600;
    border-radius: 0px;
}

.locator button:hover {
    background-color: var(--black-);
}

/* videooverlay finish */
/* Gym Equipment tab start  */
.gymequipment_start {
    padding: 40px 0;
}

.tab_gymitems {
    font-size: 17px;
    color: var(--background-blue);
    font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--white-) !important;
    background-color: var(--background-blue) !important;
    border: 2px solid var(--hover-green) !important;

}

.equipment_prevent {
    background-color: var(--background-blue);
    margin: 0px !important;
}

.heading_equipmentservice h2 {
    color: var(--white-);
    font-weight: 700;

}

.heading_equipmentservice p {
    color: var(--white-);
    font-weight: 400;
}

.heading_equipmentservice button {
    background-color: var(--hover-green);
    color: var(--white-);
    border-radius: 0px;
    padding: 10px;
}

.heading_equipmentservice button:hover {
    background-color: var(--black-);
    color: var(--white-);
}

.heading_brandservice h1 {
    color: var(--background-blue);
    font-weight: 800;
    font-size: 50px;
}

.slick-wrapper {
    width: 100%;

}

.slide-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100px;
    border: 1px solid white;

}



.slick-prev:before,
.slick-next:before {
    color: #000 !important;

}

/* Gym Equipment tab finish  */
/* INDUSTRIES WE SERVE start */
.hotels {
    background-image: url(../img/INDUSTRIES/1.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hotels:hover {
    border: 5px solid var(--hover-green);
}

.apartments {
    background-image: url(../img/INDUSTRIES/2.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apartments:hover {
    border: 5px solid var(--hover-green);
}

.college {
    background-image: url(../img/INDUSTRIES/3.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.college:hover {
    border: 5px solid var(--hover-green);
}

.cor_gyms {
    background-image: url(../img/INDUSTRIES/4.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cor_gyms:hover {
    border: 5px solid var(--hover-green);
}

.health_club {
    background-image: url(../img/INDUSTRIES/6.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.health_club:hover {
    border: 5px solid var(--hover-green);
}

.Med_facilities {
    background-image: url(../img/INDUSTRIES/7.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Med_facilities:hover {
    border: 5px solid var(--hover-green);
}

.residental {
    background-image: url(../img/INDUSTRIES/9.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.residental:hover {
    border: 5px solid var(--hover-green);
}

.first_respond {
    background-image: url(../img/INDUSTRIES/10.webp);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_respond:hover {
    border: 5px solid var(--hover-green);
}

/* INDUSTRIES WE SERVE finish */
.hire_heading h2 {
    font-size: 40px;
    font-weight: 900;
    color: var(--background-blue);
}

.hire_heading p {
    color: #3a3a3a;
    font-weight: 500;
}

.hire_heading span {
    color: var(--hover-green);
    font-weight: 500;
}

/* HIRE FITNESS start */
.video-container {
    background-image: url(../img/0.jpg);
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (height 56.25% of width) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vision_content h2 {
    font-size: 40px;
    font-weight: 900;
    color: var(--background-blue);
}

.vision_content p {
    color: #3a3a3a;
    font-weight: 500;
}

.vision_content button {
    background-color: var(--hover-green);

    padding: 10px 15px;
    border-radius: 0;
}


/* HIRE FITNESS finish */
/* Request a Quote start */

.step-container {
    position: relative;
    text-align: center;
    transform: translateY(-43%);
}

.progress {
    width: 240px;
    margin: 0 auto;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--hover-green);
    border: 2px solid var(--hover-green);
    color: white;
    line-height: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    /* Added cursor pointer */
}

.step-line {
    position: absolute;
    top: 16px;
    left: 50px;
    width: calc(100% - 100px);
    height: 2px;
    background-color: #007bff;
    z-index: -1;
}

#multi-step-form {
    overflow-x: hidden;
}

.request_form {
    background-color: var(--background-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-container {
    width: 250px;
    margin: 0 auto;
}

.owl-nav {
    display: none;
}

.next_step {
    background-color: var(--hover-green) !important;
    color: var(--white-) !important;
    padding: 10px 40px !important;
    border-radius: 0px !important;
}

/* Request a Quote finish */
/* can except start */
.can_except {
    background-image: url(../img/expect_section-bg.webp);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.canexcept_text h2 {
    font-weight: 900;
    font-size: 42px;
}

.canexcept_text p {
    font-weight: 400;


}

.canexcept_text button {
    background-color: var(--hover-green);
    font-weight: 700;
    border-radius: 0;
}

/* can except finish */
/* local provider start */
.local_heading h1 {
    font-weight: 900;
    font-size: 36px;
    color: var(--background-blue);
    white-space: nowrap;
}

/* local provider finish */
/*  CUSTOMERS HAVE TO SAY start */
.customer_say {
    background-image: url(../img/foot_bg.webp);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.customer_heading h1 {
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: var(--white-);
    padding: 30px 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: 2% !important;
}

.carousel-indicators {
    bottom: -50px !important;
}

.carousel-indicators [data-bs-target] {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;

}

.carousel-item p {
    font-weight: 400;
    font-size: 18px;
}

/*  CUSTOMERS HAVE TO SAY finish */
/* affiliation start */
.affilation_heading h1 {
    font-weight: 900;
    font-size: 42px;
    color: var(--background-blue);
    white-space: nowrap;
}

.affiliation1 img {
    width: 60% !important;
    margin: 0 auto;
}

/* affiliation finish */
/* contact us start */
.contact_us {
    background-image: url(../img/cta_bg.webp);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conatct_heading h1 {
    font-size: 36px;
    font-weight: 900;

}

.conatct_heading p {
    font-size: 18px;
    font-weight: 500;
}

.conatct_heading button {
    background-color: var(--hover-green);
    border-radius: 0;
}

/* contact us finish */
.footer_nav {
    background-color: #d6d6d7;
}

.number_footer p {
    font-size: 24px;
    color: var(--white-);
    font-weight: 700;
}

.number_footer p:hover {
    font-size: 24px;
    color: var(--hover-green);
}

.footer_btn button {
    background-color: var(--hover-green);
    border-radius: 0px;
}

.footer_btn button:hover {
    background-color: var(--hover-green);

}

.about_footer button {
    border: 2px solid var(--white-);
    border-radius: 0px;
}

.about_footer button:hover {
    background-color: var(--hover-green);
    border: 2px solid var(--hover-green);
}

.social_icon {
    display: flex;

    align-items: center;
    padding-bottom: 30px;
}

.social_svg {
    fill: rgba(85, 157, 39, 1);
    transition: fill 0.3s;
}

.social_link:hover .social_svg {
    fill: black;
}

.quick_link h2 {
    color: var(--white-);
    font-size: 18px;
    font-weight: 700;
}

.quick_nav ul {
    list-style: none;
    padding-left: 0px !important;
}

.quick_nav ul li {
    margin: 10px 0;
}

.quick_nav ul li a {
    text-decoration: none;
    color: var(--white-);
    font-size: 18px;
    font-weight: 400;

}

.quick_nav ul li a:hover {
    font-weight: 800;
    color: var(--hover-green) !important;

}

.prev_men ul {
    list-style: none;
    padding-left: 0px !important;
}

.prev_men ul li {
    margin: 10px 0;
}

.prev_men ul li a {
    text-decoration: none;
    white-space: nowrap;
    color: var(--white-);
    font-size: 18px;
    font-weight: 400;

}

.prev_men ul li a:hover {

    color: var(--hover-green) !important;

}

.footer_sitemap {
    background-color: #d6d6d7;
}

hr {
    height: 2px !important;
    color: var(--white-) !important;
}

.machine_techi a {
    text-decoration: none;
    color: var(--white-);
}

.machine_techi a:hover {
    text-decoration: none;
    color: var(--hover-green);
}

/* About us start */
.about_heading {
    background-image: url(../img/aboutus/aboutbanner.webp);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_txt h2 {

    font-size: 60px;
    font-weight: 600;
}

/* aboutus fitrunbg start */
.fitrunbg {
    background: url(../img/aboutus/running_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fitrunbg_heading h1 {
    font-weight: 700;
    color: var(--background-blue);
    margin-bottom: 15px;
}

.fitrunbg_heading h6 {
    font-weight: 600;
    font-size: 24px;
    color: var(--hover-green);
}

.fitrunbg_heading p {
    font-weight: 500;
    font-size: 20px;

}

.fitrunbg_heading span {
    color: var(--hover-green);
}


/* aboutus fitrunbg finish */

/* aboutus our service start */
.our_service {
    background-color: #f1f2f6;
}

.service_txt h2 {
    color: var(--background-blue);
    font-weight: 900;
    font-size: 40px;
}

.service_txt h6 {
    color: #3a3a3a;
    font-weight: 400;
    font-size: 18px;
}

.service_txt span {
    color: var(--hover-green);
    font-weight: 600;
    font-size: 15px;
}

.service_txt p {

    font-size: 15px;
    padding: 10px 0;
}



/* aboutus our service finish */
/* aboutus our experience start */
.our_exp {
    background-color: #003362;
}

.heading_exp h1 {
    font-size: 45px;
    font-weight: 800;
}

.heading_exp p {
    font-size: 16px;
    font-weight: 400;
}

/* aboutus our experience finish*/
/* about us our goals start */
.goal_txt h1 {
    color: var(--background-blue);
    font-size: 52px;
}

.goal_txt p {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 400;
}


/* about us our goals finish */
/* about us our purpose start */
.our_purpose {
    background-color: #003362;
}

.purpose_txt h1 {

    font-size: 52px;
}

.purpose_txt p {

    font-size: 18px;
    font-weight: 400;
}

/* about us our purpose finish */


/* abooutus missionvalue start */
.missionvalue {
    background: url(../img/aboutus/purposeabout.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission_txt {
    background-color: var(--hover-green);
    color: var(--white-);
    padding: 40px;
}

.mission_txt h2 {
    font-weight: 600;
    font-size: 40px;
}

.mission_txt p {
    font-weight: 400;
    font-size: 18px;
}

/* abooutus missionvalue finish */
/* aboutus Commounity involvment start */
.community_heading h1 {
    font-weight: 800;
    color: var(--background-blue);
    margin-bottom: 20px;
}

.community_heading p {
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
    color: #3a3a3a;
    margin-bottom: 20px;
}

.community_heading span {
    font-size: 18px;
    font-weight: 700;
    color: var(--hover-green)
}

.conor h5 {
    background-color: var(--background-blue);
}


/* aboutus Commounity involvment finish */

/* about us finish */

/* brands start */
.brands_bg {
    background: url(../img/brands/treadmill_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}

.heading_bg h1 {
    font-size: 56px;
    font-weight: 800;
}

.local_provider {
    background-color: #f1f2f6 !important;
}

.equipment_txt h2 {
    color: var(--background-blue);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}

.equipment_txt p {
    color: #3a3a3a;
    font-weight: 400;
    font-size: 18px;
}

.b_br_hed h2 {
    color: var(--background-blue);
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
}

.b_br_hed p {
    color: #3a3a3a;
    font-weight: 400;

}

.b_br_hed span {
    color: var(--hover-green);
    font-weight: 500;
    font-size: 17px;
}

.type_eqipment {
    background-color: #003362;
    color: var(--white-);
}

.type_heading h2 {
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 20px;
}

.type_heading p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;

}

.type_heading span {

    font-size: 18px;
    color: var(--hover-green);

}

.arrow_divide {
    columns: 2;
    column-gap: 20px;
}

.arrow_divide ul li::marker {
    color: rgb(85, 157, 39);

    font-size: 30px;
    content: "»";

}

.arrow_divide li {
    padding-left: 10px;
    font-size: 18px;
}

.heading_brand h2 {
    font-weight: 800;
    font-size: 40px;
    color: var(--background-blue);

}

.heading_brand p {
    font-weight: 400;
    font-size: 20px;

}

.heading_brand span {
    font-weight: 500;
    font-size: 20px;
    color: var(--hover-green);
}

.brands_fotcontent p {
    color: var(--black-);
    font-weight: 400;
    font-size: 17px;
}

.linebrands {
    background-color: #f1f2f6;
}



/* brands finish */
/* industries start */
.top_bg {
    background-image: url(../img/indusriespage/running.webp);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.top_heading h2 {
    font-size: 52px;
    font-weight: 700;
}

.car_txt h2 {
    color: var(--background-blue);
    font-weight: 900;
    font-size: 40px;
}

.car_txt p {
    color: #3a3a3a;
    line-height: 1.6;
    font-weight: 400;
}

.industries_service {
    background-color: var(--background-blue);
}

.indust_title h2 {
    color: var(--white-);
    font-weight: 900;
    font-size: 40px;
    padding: 10px 0 0 0;
}

.indust_title p {
    color: var(--white-);
    font-weight: 400;
    font-size: 17px;

}

.hotel_indust {
    background: url(../img/indusriespage/hotels_col_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;

}

.hotel_indust h2 {
    font-weight: 900;
    margin-top: 168px;

}

.hotel_indust p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

}

.hotel_indust a {
    color: var(--hover-green);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.hotel_indust a:hover {
    color: #000;
}


.apaart_indus {
    background: url(../img/indusriespage/apartment_col_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;

}

.apaart_indus h2 {
    font-weight: 900;
    margin-top: 168px;

}

.apaart_indus p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

}

.apaart_indus a {
    color: var(--hover-green);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.apaart_indus a:hover {
    color: #000;
}

.College_indus {
    background: url(../img/indusriespage/schools_col_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;

}

.College_indus h2 {
    font-weight: 900;
    margin-top: 168px;

}

.College_indus p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

}

.College_indus a {
    color: var(--hover-green);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.College_indus a:hover {
    color: #000;
}

.physical_indus {
    background: url(../img/indusriespage/healthclubs_col_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;

}

.physical_indus h2 {
    font-weight: 900;
    margin-top: 168px;

}

.physical_indus p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

}

.physical_indus a {
    color: var(--hover-green);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.physical_indus a:hover {
    color: #000;
}

.corporate_indus {
    background: url(../img/indusriespage/fitness_col_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;

}

.corporate_indus h2 {
    font-weight: 900;
    margin-top: 100px;

}

.corporate_indus p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

}

.corporate_indus a {
    color: var(--hover-green);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.corporate_indus a:hover {
    color: #000;
}

.private_indus {
    background: url(../img/indusriespage/private_col_bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 10px;

}

.private_indus h2 {
    font-weight: 900;
    margin-top: 100px;

}

.private_indus p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;

}

.private_indus a {
    color: var(--hover-green);
    font-size: 24px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

.private_indus a:hover {
    color: #000;
}

/* industries finish */
/* location start */
.location_hero {
    background: url(../img/location/location_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
}

.title_location h2 {
    color: var(--white-);
    font-size: 52px;
    font-weight: 800;
}

/* location finish */
/* services start */
.hero_services {
    background: url(../img/location/location_banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: center;
}

.hero_titleservice h1 {
    font-size: 52px;
    font-weight: 700;
}

.brands_fotcontent a {
    text-decoration: none;
    font-size: 18px;
}

.maint_excer {
    background-color: var(--background-blue);
    color: #fff;

}

.mainexcer_txt h1 {
    font-weight: 900;
    font-size: 40px;
}

.mainexcer_txt p {
    font-weight: 400;
    line-height: 1.6;
    font-size: 17px;
}

.fit_equipment {
    background-color: #f1f2f6 !important;
    padding: 40px 0;
}

.fit_equip_txt h2 {
    font-weight: 900;
    font-size: 40px;
    color: var(--background-blue);
}

.fit_equip_txt p {
    font-weight: 400;
    font-size: 18px;
    color: #3a3a3a;
    line-height: 1.6;
}

.we_service {
    background-color: var(--background-blue);
    color: var(--white-);
    text-align: center;
    padding: 22px 0;
    margin-bottom: 15px;
}

.trademill:hover {
    background-color: var(--hover-green) !important;
    color: var(--white-);
}


/* services finish */
/* fitnn_quipment start */
.maintain_andrepair_txt h2 {
    font-size: 42px;
    color: var(--background-blue);
    font-weight: 900;
}

.maintain_andrepair_txt p {
    line-height: 1.6;
    color: #3a3a3a;
    font-size: 17px;
}

.recommeded_sale {
    background-color: var(--background-blue);
    padding: 50px 0;
}

.title_sale h2 {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.title_sale p {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 1.6;
}

.repair_equiment {
    background-color: var(--hover-green);
}

.reapir_txtquiment h2 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;

}

.reapir_txtquiment li {
    color: var(--white-);
    font-size: 18px;
    font-weight: 400;
    padding: 5px 0;

}

/* fitnn_quipment finish */

/* elliptical_hero Elliptical Sales & Service start */
.elliptical_hero {
    background-image: url(../img/services/elliptical_banner.webp);
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    align-items: center;
}



.ellipitical_maintaince {
    background-color: var(--background-blue);
    color: var(--white-);

    padding: 45px 0;
}

.title_elliptical h2 {
    font-size: 38px;
    font-weight: 900;
}

.title_elliptical p {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
}

.weekly_ellip {
    background-color: var(--hover-green);
}

.desc_weekly h4 {
    font-size: 24px;
    font-weight: 900;
}

.prevemaintaince_services {
    background-image: url(../img/services/preventive_maintenance_banner.webp);
    height: 450px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;

    align-items: center;
}



/* Elliptical Sales & Service finish */

























/* media query start */
@media (min-width: 1024px) and (max-width: 1299px) {


    .overlay_content h1 {
        font-size: 24px;
    }



}

@media (min-width: 993px) and (max-width: 1199px) {



    .fitrunbg_heading h1 {
        font-size: 16px;
    }

    .fitrunbg_heading h6 {
        font-size: 16px;
    }

    .fitrunbg_heading p {

        font-size: 14px;
    }

    .hotel_indust p {
        font-size: 14px;

    }

    .apaart_indus p {
        font-size: 14px;

    }

    .College_indus p {
        font-size: 14px;

    }

    .physical_indus p {
        font-size: 14px;

    }

    .corporate_indus p {
        font-size: 14px;

    }

}

@media (min-width: 768px) and (max-width: 992px) {

    .overlay_content h1 {
        font-size: 37px;
    }

    .overlay_content {
        right: 8%;
    }

    .nav-tabs .nav-link {
        font-size: 10px;
    }

    .hire_heading h2 {
        font-size: 27px;
    }

    .hire_heading p {
        font-size: 12px;
    }

    .green_arrow p {
        font-size: 12px;
    }

    .vision_content h2 {
        font-size: 20px;
    }

    .vision_content p {
        font-size: 12px;
    }

    .heading_brandservice h1 {
        font-size: 32px;
    }

    .canexcept_text h2 {
        font-size: 32px;
    }

    .canexcept_text p {
        font-size: 12px;
    }

    .local_heading h1 {
        font-size: 23px;
    }

    .conatct_heading p {
        font-size: 16px;
    }

    .prev_men ul li a {
        font-size: 14px;
    }

    .about_txt h2 {
        font-size: 35px;
    }

    .fitrunbg_heading h1 {
        font-size: 20px;
    }

    .fitrunbg_heading p {

        font-size: 12px;
    }

    .service_txt h2 {

        font-size: 30px;
    }

    .service_txt h6 {
        font-size: 14px;
    }

    .heading_exp h1 {
        font-size: 32px;
        margin-left: 10px;
    }

    .heading_exp p {
        font-size: 14px;
        margin-left: 10px;
    }

    .goal_txt h1 {

        font-size: 35px;
    }

    .goal_txt p {

        font-size: 14px;

    }

    .purpose_txt h1 {
        font-size: 35px;
        margin-left: 10px;
    }

    .purpose_txt p {
        font-size: 14px;
        margin-left: 10px;
    }

    .mission_txt p {

        font-size: 14px;
    }

    .conor h5 {

        font-size: 12px;
    }

    .heading_bg h1 {
        font-size: 44px;

    }

    .equipment_txt h2 {

        font-size: 20px;

    }

    .equipment_txt p {

        font-size: 12px;
    }

    .type_heading h2 {

        font-size: 31px;
    }

    .type_heading p {

        font-size: 12px;

    }

    .arrow_divide li {

        font-size: 10px;
    }

    .top_heading h2 {
        font-size: 46px;

    }

    .car_txt h2 {

        font-size: 26px;
    }

    .car_txt p {

        font-size: 12px;
    }

    .hotel_indust p {
        font-size: 12px;

    }

    .apaart_indus p {
        font-size: 12px;

    }

    .College_indus p {
        font-size: 12px;

    }

    .physical_indus p {
        font-size: 12px;

    }

    .corporate_indus p {
        font-size: 12px;

    }

    .mainexcer_txt h1 {
        font-size: 25px;
    }

    .mainexcer_txt p {
        font-size: 14px;
    }

    .fit_equip_txt h2 {
        font-size: 30px;
    }

    .fit_equip_txt p {
        font-size: 14px;
    }

    .trademil_icon h6 {
        font-size: 8px;
    }

}

@media (min-width: 320px) and (max-width: 767px) {
    .logo_menu {
        width: 150px !important;
    }

    .top_head {
        display: none;
    }

    .nav-tabs .nav-link {
        font-size: 11px;
    }




    .video_overlayheading h2 {
        font-size: 16px;
    }

    .tab_gymitems {
        font-size: 8px !important;
    }

    .overlay_content {
        display: none;
    }

    .row.align-items-center.equipment_prevent {
        padding: 0px !important;
    }

    .heading_brandservice h1 {
        font-size: 22px;
    }

    .heading_equipmentservice h2 {
        font-size: 17px;
    }

    .hire_heading h2 {
        font-size: 22px;
        padding-bottom: 10px;
    }

    .hire_heading p {
        font-size: 13px;
    }

    .vision_content h2 {
        font-size: 23px;
        margin: 15px 0;
    }

    .vision_content p {
        font-size: 14px;
    }

    .slick-prev:before,
    .slick-next:before {
        display: none;
    }

    .canexcept_text h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .canexcept_text p {
        font-size: 12px;
    }

    .local_heading h1 {
        font-size: 18px;
    }

    .customer_heading h1 {
        font-size: 18px;
    }

    .carousel-item p {
        font-size: 12px;
    }

    .affilation_heading h1 {
        font-size: 21px;
        margin-top: 20px;
    }

    .machine_techi {
        flex-direction: column;
        text-align: center;
    }

    #multi-step-form {
        padding: 5px;
    }

    .reqst_footer {
        flex-direction: column;
    }

    .reqst_footer button {
        margin: 5px 0;
    }

    .line_heading img {
        width: 75%;
        margin: 0 auto;
    }

    .about_txt h2 {
        font-size: 30px;

    }

    .fitrunbg_heading h1 {
        font-size: 15px;
    }

    .fitrunbg_heading p {
        font-size: 10px;
    }

    .service_txt h2 {


        font-size: 20px;
        margin-left: 10px;
    }

    .service_txt h6 {
        font-size: 12px;
        margin-left: 10px;
    }

    .heading_exp h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .heading_exp p {
        font-size: 12px;
        margin-left: 10px;
    }

    .goal_txt h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .goal_txt p {
        font-size: 12px;
        margin-left: 10px;
    }

    .purpose_txt h1 {
        font-size: 25px;
        margin-left: 10px;
    }

    .purpose_txt p {
        font-size: 12px;
        margin-left: 10px;
    }

    .mission_txt h2 {
        font-size: 25px;
    }

    .mission_txt p {
        font-size: 12px;
    }

    .heading_bg h1 {
        font-size: 21px;

    }

    .equipment_txt h2 {

        font-size: 26px;

    }

    .equipment_txt p {
        font-size: 12px;

    }

    .b_br_hed h2 {

        font-size: 24px;

    }

    .b_br_hed p {

        font-size: 12px;
    }

    .type_heading h2 {
        margin-bottom: 0px;
        font-size: 26px;
        margin-top: 10px;

    }

    .type_heading p {

        font-size: 12px;

    }

    .heading_brand h2 {

        font-size: 30px;

    }

    .heading_brand p {

        font-size: 14px;
    }

    .conatct_heading p {
        font-size: 15px;

    }

    .top_heading h2 {
        font-size: 20px;
    }

    .car_txt h2 {
        margin-top: 10px;
        font-size: 24px;
    }

    .car_txt p {
        font-size: 14px;

    }

    .indust_title h2 {
        padding-top: 15px;
        font-size: 26px;

    }

    .hotel_indust p {
        font-size: 12px;

    }

    .apaart_indus p {
        font-size: 12px;

    }

    .College_indus p {
        font-size: 12px;

    }

    .physical_indus p {
        font-size: 12px;

    }

    .corporate_indus p {
        font-size: 12px;

    }

    .hero_titleservice h1 {
        font-size: 34px;

    }

    .brands_fotcontent p {
        font-size: 12px;
    }

    .mainexcer_txt h1 {
        font-size: 21px;
        margin-top: 15px;
    }

    .mainexcer_txt p {
        font-size: 12px;
    }

    .fit_equip_txt h2 {
        font-size: 21px;
    }

    .fit_equip_txt p {
        font-size: 12px;
    }

    .trademil_icon h6 {
        font-size: 9px;
    }


}



/* media query finish */